<div class="example-container" style="background: white">
  <h2 class="mx-2">To do</h2>

  <div
    id="todo"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListDisabled]="isResponsible || isAdmin"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList,doingList]"
    class="example-list mx-2"
    (cdkDropListDropped)="drop($event)">
    <mat-card [cdkDragDisabled]="item.createdBy!=userID" class="example-box" *ngFor="let item of todo" cdkDrag>
      <mat-card-header>
        {{item.name}}
      </mat-card-header>
      <mat-card-footer class="mr-1">
        <mat-icon color="accent" matTooltip="{{item.createdBy}} {{item.date}}" [matTooltipShowDelay]="'1000'">info</mat-icon>
        <mat-icon *ngIf="isAdmin" color="warn" (click)="delete(item)" >delete</mat-icon>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div class="example-container">
  <h2>Doing</h2>

  <div
    cdkDropList
    id="doing"
    [cdkDropListDisabled]="isResponsible || isAdmin"
    #doingList="cdkDropList"
    [cdkDropListData]="doing"
    [cdkDropListConnectedTo]="[doneList,todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <mat-card [cdkDragDisabled]="item.createdBy!=userID" class="example-box" *ngFor="let item of doing" cdkDrag>
      <mat-card-header>
        {{item.name}}
      </mat-card-header>
      <mat-card-footer class="mr-1">
        <mat-icon color="accent" matTooltip="{{item.createdBy}} {{item.date}}" [matTooltipShowDelay]="'1000'">info</mat-icon>
        <mat-icon *ngIf="isAdmin" color="warn" (click)="delete(item)" >delete</mat-icon>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    id="done"
    #doneList="cdkDropList"
    [cdkDropListDisabled]="isResponsible || isAdmin"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList,doingList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <mat-card [cdkDragDisabled]="item.createdBy!=userID" class="example-box" *ngFor="let item of done" cdkDrag>
      <mat-card-header>
        {{item.name}}
      </mat-card-header>
      <mat-card-footer class="mr-1">
        <mat-icon color="accent" matTooltip="{{item.createdBy}} {{item.date}}" [matTooltipShowDelay]="'1000'">info</mat-icon>
        <mat-icon *ngIf="isAdmin" color="warn" (click)="delete(item)" >delete</mat-icon>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
